{% extends "tasks1/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <p><a href="{% url 'tasks1:task' task.id %}">{{ task }}</a></p>
            <p>Отредактировать описание:</p>
            <form action="{% url 'tasks1:edit_entry' entry.id %}" method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            </form>
        </div>
    </div>
{% endblock content %}
