{% extends "tasks1/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h2>Задачи</h2>
            <ul class="list-group">
                {% for task in tasks %}
                    <li class="list-group-item">
                        <a href="{% url 'tasks1:task' task.id %}">{{ task }}</a>
                    </li>
                {% empty %}
                    <li class="list-group-item">No tasks ¯\_(ツ)_/¯</li>
                {% endfor %}
            </ul>
            <a href="{% url 'tasks1:new_task' %}" class="btn btn-primary mt-3">Добавить новую задачу</a>
        </div>
    </div>
{% endblock content %}
