{% extends "tasks1/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    Ваше имя пользователя или пароль не совпадают. Попробуйте еще раз.
                </div>
            {% endif %}
            <form method="post" action="{% url 'users:login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Войти</button>
                <input type="hidden" name="next" value="{% url 'tasks1:index' %}"/>
            </form>
        </div>
    </div>
{% endblock content %}
